<%- include('head') -%>
<%- include('header'); -%>


<div class="container">
    <h2 class="news-block__title">
        Новости
    </h2>
    <div class="news">
        <% newsPage.forEach(function (item) { %>
        <div class="posts">
            <div class="posts__image"></div>
            <h4 class="posts__title"><%= item.title %></h4>
            <span class="posts__date"><%= item.date %></span>
            <p class="posts__body"><%= item.body %></p>
            <a href="/article/<%= item._id %>" class="posts__btn">Перейти</a>
        </div>
        <% }); %>
    </div>

    <% if (pages > 0) { %>
    <ul class="pagination text-center">
        <!--<% if (current == 1) { %>-->
            <!--<li class="disabled"><a>First</a></li>-->
        <!--<% } else { %>-->
            <!--<li><a href="/news/1">First</a></li>-->
        <!--<% } %>-->
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
            <li class="active"><a><%= i %></a></li>
        <% } else { %>
            <li><a href="/news/<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="disabled"><a>...</a></li>
        <% } %>
        <% } %>
        <!--<% if (current == pages) { %>-->
            <!--<li class="disabled"><a>Last</a></li>-->
        <!--<% } else { %>-->
            <!--<li><a href="/news/<%= pages %>">Last</a></li>-->
        <!--<% } %>-->
    </ul>
    <% } %>
</div>


<%- include('footer'); -%>