<%- include('head') -%>
<%- include('header'); -%>

    <div class="container">
        <article>
            <h1><%= post.title%></h1>
            <span><%= post.date%></span>
            <div><%= post.body%></div>
        </article>
    </div>

<%- include('footer'); -%>